{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="profile-page">
        
        <div class="profile-header mt-2 text-center card p-3">

        </div>
        {% if homepage %}
                <div id="compose-view" class="my-3">
                    <form id="compose-form">
                        <h3>New Post</h3>
                        <textarea class="form-control" id="new-post-write" placeholder=""></textarea> 
                        <input id="send-post" type="submit" class="btn btn-primary" value="Share"/>
                    </form>
                </div>
        {% endif %}
        {% if not homepage and user.is_authenticated %}
                {% if not following %}
                    <button class="btn btn-primary mb-2 follow-button">Follow</button>
                {% else %}
                    <button class="btn btn-primary mb-2 follow-button">Following</button>
                {% endif %}
        {% endif %}
    </div>

    <div id="posts-view">
        
    </div>
    

{% endblock %}

{% block script %}
    <script type="module" src="{% static 'network/profile.js' %}"></script>
{% endblock %}
